<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Default</title>

    <style>
      body {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
      }
    </style>

    <style>
      img.emoji {
        height: 1em;
        width: 1em;
        margin: 0 0.05em 0 0.1em;
        vertical-align: -0.1em;
      }
    </style>
    <script src="https://twemoji.maxcdn.com/v/14.0.2/twemoji.min.js"></script>
    <script>
      window.onload = function () {
        twemoji.parse(document.body);
      };
    </script>
  </head>

  <body>
    <p>
      Name:
      <span>{{ name }}</span>
    </p>

    <p>
      Username:
      <span>{{ username }}</span>
    </p>

    <p>
      Content:
      <span>{{ content }}</span>
    </p>

    <img src="{{ image }}" alt="Image" />
  </body>
</html>
